.js{
    width: 150px;
    margin-right: 30px;
}
.java{
    width: 90px;
    margin-right: 30px;

}
.php{
    width: 160px;
    margin-right: 30px;
}
.html{
    width: 150px;
    margin-right: 30px;
}
.css{
    width: 285px;
    margin-right: 30px;
}
.python{
    width: 250px;
    margin-right: 30px;
}
.sql{
    width: 200px;
    margin-right: 30px;
}
.react{
    width: 150px;
    margin-right: 30px;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row img {
    max-width: 100%;
    height: auto;
    margin: 0 10px; /* Adjust margin as needed for spacing between images */
}

.competence4{
    width: 2050px;
   height: 900px;
}